<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="ApplicationMstr.Master.cs" Inherits="NMSFMFireGrantWF.Application.ApplicationMstr" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%: Page.Title %></title>

    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/bundles/modernizr") %>
    </asp:PlaceHolder>
    <webopt:bundlereference runat="server" path="~/Content/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <style>
        .RadMenu {
            z-index:0 !important;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
        <asp:ScriptManager runat="server">
            <Scripts>
                <%--To learn more about bundling scripts in ScriptManager see https://go.microsoft.com/fwlink/?LinkID=301884 --%>
                <%--Framework Scripts--%>
                <asp:ScriptReference Name="MsAjaxBundle" />
                <asp:ScriptReference Name="jquery" />
                <asp:ScriptReference Name="bootstrap" />
                <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
                <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
                <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
                <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
                <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
                <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
                <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
                <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
                <asp:ScriptReference Name="WebFormsBundle" />
                <%--Site Scripts--%>
            </Scripts>
        </asp:ScriptManager>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div id="skiptocontent"><a id="skipEO" class="skip-main" href="#main">Skip to main content</a></div>
                <div class="navbar-header">
                    <a href="../Default" class="elements" style="margin-right:20px;">
                        <img src="../Content/images/NM-State-Fire-Marshal-Logo.jpg" style="height:50px;"  />
                    </a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li style="font-size:18px; color:white; margin-top:10px">NMSFM Fire Grant Council - Fire Grant Application</li>
                    </ul>
                    <asp:LoginView runat="server" ViewStateMode="Disabled">
                        <AnonymousTemplate>
                            <ul class="nav navbar-nav navbar-right">
                                <%--<li><a runat="server" href="~/Account/Register">Register</a></li>--%>
                                <li><a runat="server" href="~/Account/Login">Log in</a></li>
                            </ul>
                        </AnonymousTemplate>
                        <LoggedInTemplate>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a runat="server" href="~/Account/Manage" title="Manage your account">Hello, <%: Context.User.Identity.GetUserName()  %> !</a></li>
                                <li>
                                    <asp:LoginStatus runat="server" LogoutAction="Redirect" LogoutText="Log off" LogoutPageUrl="~/" OnLoggingOut="Unnamed_LoggingOut" />
                                </li>
                            </ul>
                        </LoggedInTemplate>
                    </asp:LoginView>
                </div>
            </div>
        </div>
        <asp:LoginView id="LoginView1" runat="server">
            <AnonymousTemplate>
                
            </AnonymousTemplate>
            <LoggedInTemplate>
                
            </LoggedInTemplate>
            <RoleGroups>
                <asp:RoleGroup Roles="Internal">
                    <ContentTemplate>
                        <nav id="subnav" class="navbar navbar-default" role="navigation">
                            <div class="container">
                                <ul class="nav navbar-nav">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="../Admin/Home">Current Apps <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navPriorApps" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Prior Apps <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navPriorApps">
                                            <li><a class="dropdown-item" href="#">Past Apps</a></li>
                                            <li><a class="dropdown-item" href="#">Legacy Apps</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Reports</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navAdmin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Admin <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navAdmin">
                                            <li><a class="dropdown-item" href="../Account/ManageUsers">Manage Users</a></li>
                                            <li><a class="dropdown-item" href="../Admin/ManageSettings">Manage Settings</a></li>
                                            <li><a class="dropdown-item" href="../Admin/ManageCategories">Manage Categories</a></li>
                                            <li><a class="dropdown-item" href="../Admin/ManageHelpText">Manage Help Text</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navSupport" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Support <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navSupport">
                                            <li><a class="dropdown-item" href="#">Technical Support</a></li>
                                            <li><a class="dropdown-item" href="#">Fire Services Support</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <div style="float:right; padding:2px 2px 2px 2px; vertical-align:central; text-align:center">
                                    <a data-toggle="collapse" href="#pageHelp" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        <img src="../Content/images/Help%20Icon.png" height="45" alt="Page Help" />
                                    </a>
                                </div>
                            </div>
                        </nav>
                    </ContentTemplate>
                </asp:RoleGroup>
                <asp:RoleGroup Roles="External">
                    <ContentTemplate>
                        <nav id="subnav" class="navbar navbar-default" role="navigation">
                            <div class="container">
                                <ul class="nav navbar-nav">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="../User/Home">Current App(s) <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navPriorApps" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Prior Apps <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navPriorApps">
                                            <li><a class="dropdown-item" href="#">Past Apps</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Current App Status</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navSupport" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Support <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navSupport">
                                            <li><a class="dropdown-item" href="#">Technical Support</a></li>
                                            <li><a class="dropdown-item" href="#">Fire Services Support</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <div style="float:right; padding:2px 2px 2px 2px; vertical-align:central; text-align:center">
                                    <a data-toggle="collapse" href="#pageHelp" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        <img src="../Content/images/Help%20Icon.png" height="45" alt="Page Help" />
                                    </a>
                                </div>
                            </div>
                        </nav>
                    </ContentTemplate>
                </asp:RoleGroup>
                <asp:RoleGroup Roles="Manager">
                    <ContentTemplate>
                        <nav id="subnav" class="navbar navbar-default" role="navigation">
                            <div class="container">
                                <ul class="nav navbar-nav">
                                    <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navAdmin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Application Admin <span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="navAdmin">
                                                <li><a class="dropdown-item" href="Account/ManageUsers">Manage Users</a></li>
                                            </ul>
                                        </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navSupport" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Support <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navSupport">
                                            <li><a class="dropdown-item" href="#">Technical Support</a></li>
                                            <li><a class="dropdown-item" href="#">Fire Services Support</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <div style="float:right; padding:2px 2px 2px 2px; vertical-align:central; text-align:center">
                                    <a data-toggle="collapse" href="#pageHelp" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        <img src="../Content/images/Help%20Icon.png" height="45" alt="Page Help" />
                                    </a>
                                </div>
                            </div>
                        </nav>
                    </ContentTemplate>
                </asp:RoleGroup>
            </RoleGroups>
        </asp:LoginView>
        <div id="main" class="container body-content">
            <div class="row collapse" id="pageHelp">
                <div class="card card-body">
                    <div class="col-md-1">
                        <img src="../Content/images/Help%20Icon.png" height="25" />
                    </div>
                    <div class="col-md-11" id="dvPageHelp" runat="server">
                        No help text for this page...
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2><asp:Label ID="lblTitle" runat="server"></asp:Label></h2>
                    <i><span ID="spSubTitle" runat="server" style="font-size:1.1em; color:#337ab7; font-weight:bold"></span></i>
                </div>
            </div>
            <hr style="margin-top:0 !important"/>
            <div class="row">
                <div class="col-sm-4 col-md-3 sidebar">
                    <div class="list-group">
                        <span href="#" id="appMenuAppStatus" runat="server" class="list-group-item active">
                            Application Status
                        </span>
                        <telerik:RadMenu ID="rmAppStatus" runat="server" Flow="Vertical" Skin="Bootstrap" CssClass="RadMenu">
                            <Items>
                                <telerik:RadMenuItem Text="Application Status" NavigateUrl="~/Application/ApplicationStatus"></telerik:RadMenuItem>
                                <telerik:RadMenuItem Text="Application Review" NavigateUrl="~/Application/ApplicationReview"></telerik:RadMenuItem>
                            </Items>
                        </telerik:RadMenu>
                        <span href="#" id="appMenuStep1" runat="server" class="list-group-item active">
                            Step 1
                        </span>
                        <telerik:RadMenu ID="rmStep1" runat="server" Flow="Vertical" Skin="Bootstrap" OnItemClick="rmStep1_ItemClick">
                            <Items>
                                <telerik:RadMenuItem Text="Instructions"></telerik:RadMenuItem>
                                <telerik:RadMenuItem Text="General Information"></telerik:RadMenuItem>
                                <telerik:RadMenuItem Text="Budget Information"></telerik:RadMenuItem>
                                <telerik:RadMenuItem Text="Community Information"></telerik:RadMenuItem>
                                <telerik:RadMenuItem Text="Response History"></telerik:RadMenuItem>
                                <telerik:RadMenuItem Text="Water Availability"></telerik:RadMenuItem>
                                <telerik:RadMenuItem Text="Training"></telerik:RadMenuItem>
                                <telerik:RadMenuItem Text="Apparatus"></telerik:RadMenuItem>
                                <telerik:RadMenuItem Text="Communication Equipment"></telerik:RadMenuItem>
                                <telerik:RadMenuItem Text="Hazards/Threats"></telerik:RadMenuItem>
                                <telerik:RadMenuItem Text="PPE"></telerik:RadMenuItem>
                                <telerik:RadMenuItem Text="Equipment Needs"></telerik:RadMenuItem>
                                <telerik:RadMenuItem Text="Step 2" CssClass="list-group-item active menu-spacer" NavigateUrl="#" Enabled="false"></telerik:RadMenuItem>
                                <telerik:RadMenuItem Text="Grant Funding Justification"></telerik:RadMenuItem>
                                <telerik:RadMenuItem Text="Project Budget Sheet"></telerik:RadMenuItem>
                                <telerik:RadMenuItem Text="Step 3" CssClass="list-group-item active menu-spacer" NavigateUrl="#" Enabled="false"></telerik:RadMenuItem>
                                <telerik:RadMenuItem Text="Signatures and Supporting Docs"></telerik:RadMenuItem>
                                <telerik:RadMenuItem Text="View/Print Application" NavigateUrl="~/Application/Reporting/View"></telerik:RadMenuItem>
                            </Items>
                        </telerik:RadMenu>
                    </div>
                    <asp:ContentPlaceHolder ID="MenuContent" runat="server">
                    </asp:ContentPlaceHolder>
                </div>
                <div class="col-sm-8 col-md-9" id="content">
                    <asp:ContentPlaceHolder ID="ApplicationContent" runat="server">
                    </asp:ContentPlaceHolder>
                </div>
                
            </div>
            <hr />
            <footer>
                <div class="row" style="width:97%;margin-left:2em">
                <div class="col-lg-4">
                    <span style="padding-left: 1em;">&copy; <%: DateTime.Now.Year.ToString() %> Sybatech, Inc.</span>
                </div>
                <div class="col-lg-4" style="text-align:center" id="timeoutWarning">
                    <script>
                        setTimeout(function () {
                            setInterval(function () {
                                var time = $('#timer').text();
                                $('#alert').html("Time Left To Save: " + time);
                            }, 1000 * 540 * 1);
                        }, 1000);

                        setInterval(function () {
                            $(".countdown").each(function () {
                                var seconds = $(this).data('seconds');
                                if (seconds > 0) {
                                    second = seconds - 1;
                                    $(this).data('seconds', second)

                                    var date = new Date(null);
                                    date.setSeconds(second);
                                    $(this).html(date.toISOString().substr(11, 8))
                                }
                                else {
                                    $(this).html("Reload")
                                }
                            });
                        }, 1000);

                    </script>
                    Session Time Remaining: <span id="timer" data-seconds="3600" class="countdown">01:00:00</span>
                    <div id="alert" role="alert" aria-live="assertive" style="position:absolute; width:0; height:0; clip: rect(0,0,0,0);"></div>
                </div>
                <div class="col-lg-4" style="text-align:right">
                    <span style="padding-right: .5em;">version <span id="spVersion" runat="server">1.0.0</span> -- <span id="spVersionDate" runat="server"></span></span>
                </div>
            </div>
            </footer>
        </div>
    </form>
</body>
</html>
